{% extends "base.html" %}

{% block content %}
<!-- read me / get started / project idea page -->
<div style="color: black;">
    <div class="jumbotron text-center mt-5" style="color: white;">
        <div class="container">
            <h1 class="display-4">Help & Help</h1>
            <p class="lead">Neighbor, Communitys and Organizations</p>
        </div>
    </div>
    <div class="mt-5 mx-5">
        <div class="container bg-light px-4">
            <div class="row">
                <div class="col-md-8 py-5">
                    <h3> Read about it!</h3>
                    <p>
                        The Idea of the website is to enable communitys to connect in order to help and share among the community members.<br>
                        This website intends to provide a platform where one can offer or request help / goods / guidance.<br>
                        One can create a post with their needs and offers so that others are able to see the post and respond to it.<br>
                        <br>
                        In the coming version of this website a matching according to the location will be offered for local communitys.
                    </p>
                </div>
                <div class="col-md-4 py-5">
                    <div class="card">
                        <img src="static/nachbar.jpg" class="card-img-top text-center" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mx-5">
        <div class="container bg-light px-4">
            <div class="row">
                <div class="col-md-8 py-5">
                    <h3> Get started!</h3>
                    <p>
                        To get started navigate to "register" and register your account, sing in.<br>
                        Now you can go to your profile page and enter additional information about yourself.<br>
                        This is recommended before creating a post.<br>
                        After that you can follow the instructions below on "how to use it!".
                    </p>
                </div>
                <div class="col-md-4 py-5">
                    <div class="card">
                        <img src="static/getstarted.jpg" class="card-img-top" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mx-5">
        <div class="container bg-light px-4">
            <div class="row">
                <div class="col-md-8 py-5">
                    <h3> How to use it!</h3>
                    <p>
                        On the "Browse" section you can browse all posts. Your own post will be highlighted for you.<br>
                        On the post you will find information regarding the request/offer and you can click on the button "more information" to excess additinal infos like "Location".<br>
                        On "Create" you can create your own post. Fill in the fields with your post information and submit it. (right now you are not able to change these later)
                    </p>
                </div>
                <div class="col-md-4 py-5">
                    <div class="card">
                        <img src="static/howto.jpg" class="card-img-top text-center" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}