{% extends "base.html" %}

{% block content %}
<!-- read me / get started / project idea page -->
<div style="color: black;">
    <div class="jumbotron text-center mt-5" style="color: white;">
        <div class="container">
            <h1 class="display-4">Help & Help</h1>
            <p class="lead">Neighbor, Communitys and Verbände</p>
        </div>
    </div>
    <div class="mt-5 mx-5">
        <div class="container bg-light px-4">
            <div class="row">
                <div class="col-md-8 py-5">
                    <h3> Read about it!</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing edis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                        enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
                    </p>
                </div>
                <div class="col-md-4 py-5">
                    <div class="card">
                        <img src="static/nachbar.jpg" class="card-img-top text-center" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mx-5">
        <div class="container bg-light px-4">
            <div class="row">
                <div class="col-md-8 py-5">
                    <h3> How to use it!</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing edis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                        enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
                    </p>
                </div>
                <div class="col-md-4 py-5">
                    <div class="card">
                        <img src="static/howto.jpg" class="card-img-top" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mx-5">
        <div class="container bg-light px-4">
            <div class="row">
                <div class="col-md-8 py-5">
                    <h3> Get started!</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing edis parturient montes, nascetur ridiculus mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                        enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
                    </p>
                </div>
                <div class="col-md-4 py-5">
                    <div class="card">
                        <img src="static/map-browse.jpg" class="card-img-top text-center" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}